.messages, .error, #navigation, #header .social-icons, .subscribe, .home-tabs, .widgets_bar, 
#header-image img, .region.region-page-top, .tabs, #background-image{
    display:none;
}

#main-wrapper, #header{
    background: none;
}

#footer .logo {
margin-right: 40px;
}

#header .phone{
    border:none;
}
#header-image{
    height: 130px;
}

.node-type-member #main .node-full{
    box-shadow: none;
}

.not-front #footer{
    border:none;
}

.page-node-8 .content-header h1{
    margin: 20px 0px;
    margin-top: 140px;
}

.page-node-8 .field-name-body  {
    margin-top: 80px;
}

.node-type-contact #main .node-full{
     box-shadow: none;
}

.node-type-products .product{
    box-shadow: none;
    width: 100%;
    height: auto;
    text-align: left;
}

.node-type-products .product img{
    width: 300px;
    height: auto;
}

.node-type-products .product p{
    margin: 8px;
}

.not-front .content-header h1{
    margin: 0px 0px 0px 0px;
    padding: 0px;       
}

.node-products{
    margin-top: 0px;
}

.node-type-testimonials-listing .testitmonial{
    box-shadow: none;
    width: 100%;
    height: auto;
    text-align: left;
}

.node-type-testimonials-listing .testitmonial p{
    margin: 0px;
}

.not-front #main #content{
    margin-top: -100px;
}

.node-type-members .member{
        box-shadow: none;
    height: auto;
}


.image_print{
    display: block;
    
}

body.front #main-wrapper .node .content{
  border:none;  
  margin-top: 60px;
}